@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --tawny: rgb(204, 88, 3);
  --cocoa-brown: #e2711dff;
  --princeton-orange: rgb(255, 149, 5);
  --selective-yellow: rgb(255, 182, 39);
  --xanthous: #ffc971ff;

  --gradient-top: linear-gradient(
    0deg,
    #cc5803ff,
    #e2711dff,
    #ff9505ff,
    #ffb627ff,
    #ffc971ff,
    transparent
  );
  --gradient-right: linear-gradient(
    90deg,
    #cc5803ff,
    #e2711dff,
    #ff9505ff,
    #ffb627ff,
    #ffc971ff
  );
  --gradient-bottom: linear-gradient(
    180deg,
    #cc5803ff,
    #e2711dff,
    #ff9505ff,
    #ffb627ff,
    #ffc971ff
  );
  --gradient-left: linear-gradient(
    270deg,
    #cc5803ff,
    #e2711dff,
    #ff9505ff,
    #ffb627ff,
    #ffc971ff
  );
  --gradient-top-right: linear-gradient(
    45deg,
    #cc5803ff,
    #e2711dff,
    #ff9505ff,
    #ffb627ff,
    #ffc971ff
  );
  --gradient-bottom-right: linear-gradient(
    135deg,
    #cc5803ff,
    #e2711dff,
    #ff9505ff,
    #ffb627ff,
    #ffc971ff
  );
  --gradient-top-left: linear-gradient(
    225deg,
    #cc5803ff,
    #e2711dff,
    #ff9505ff,
    #ffb627ff,
    #ffc971ff
  );
  --gradient-bottom-left: linear-gradient(
    315deg,
    #cc5803ff,
    #e2711dff,
    #ff9505ff,
    #ffb627ff,
    #ffc971ff
  );
  --gradient-radial: radial-gradient(
    #cc5803ff,
    #e2711dff,
    #ff9505ff,
    #ffb627ff,
    #ffc971ff
  );
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
